<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>2048</integer>
	<key>capHeight</key>
	<integer>1555</integer>
	<key>copyright</key>
	<string>vernon adams 2011</string>
	<key>descender</key>
	<integer>-53</integer>
	<key>familyName</key>
	<string>Amatic</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Amatic</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>2048</integer>
	<key>openTypeHheaDescender</key>
	<integer>-53</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameUniqueID</key>
	<string>vernon adams : Amatic : 17-8-2011</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.000</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>614</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>102</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>1331</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>154</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>1229</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>1331</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>717</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>1229</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>2048</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-53</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>newt</string>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2048</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-53</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.0126923</real>
	<key>postscriptBlueShift</key>
	<integer>12</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-78</integer>
		<integer>0</integer>
		<integer>1356</integer>
		<integer>1357</integer>
		<integer>1374</integer>
		<integer>1381</integer>
		<integer>1551</integer>
		<integer>1585</integer>
	</array>
	<key>postscriptDefaultCharacter</key>
	<string>space</string>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Amatic</string>
	<key>postscriptForceBold</key>
	<true/>
	<key>postscriptFullName</key>
	<string>Amatic Bold</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>59</integer>
		<integer>51</integer>
		<integer>55</integer>
		<integer>63</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>55</integer>
		<integer>59</integer>
		<integer>68</integer>
		<integer>78</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-204</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>102</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>Amatic</string>
	<key>styleMapStyleName</key>
	<string>bold</string>
	<key>styleName</key>
	<string>Bold</string>
	<key>trademark</key>
	<string>vernon adams</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1361</integer>
	<key>year</key>
	<integer>2011</integer>
</dict>
</plist>
