<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>public.glyphOrder</key>
      <array>
        <string>space</string>
        <string>exclam</string>
        <string>quotedbl</string>
        <string>numbersign</string>
        <string>dollar</string>
        <string>percent</string>
        <string>ampersand</string>
        <string>parenleft</string>
        <string>parenright</string>
        <string>asterisk</string>
        <string>plus</string>
        <string>comma</string>
        <string>hyphen</string>
        <string>period</string>
        <string>slash</string>
        <string>zero</string>
        <string>one</string>
        <string>two</string>
        <string>three</string>
        <string>four</string>
        <string>five</string>
        <string>six</string>
        <string>seven</string>
        <string>eight</string>
        <string>nine</string>
        <string>colon</string>
        <string>semicolon</string>
        <string>less</string>
        <string>equal</string>
        <string>greater</string>
        <string>question</string>
        <string>at</string>
        <string>A</string>
        <string>B</string>
        <string>C</string>
        <string>D</string>
        <string>E</string>
        <string>F</string>
        <string>G</string>
        <string>H</string>
        <string>I</string>
        <string>J</string>
        <string>K</string>
        <string>L</string>
        <string>M</string>
        <string>N</string>
        <string>O</string>
        <string>P</string>
        <string>Q</string>
        <string>R</string>
        <string>S</string>
        <string>T</string>
        <string>U</string>
        <string>V</string>
        <string>W</string>
        <string>X</string>
        <string>Y</string>
        <string>Z</string>
        <string>bracketleft</string>
        <string>backslash</string>
        <string>bracketright</string>
        <string>asciicircum</string>
        <string>underscore</string>
        <string>grave</string>
        <string>a</string>
        <string>b</string>
        <string>c</string>
        <string>d</string>
        <string>e</string>
        <string>f</string>
        <string>g</string>
        <string>h</string>
        <string>i</string>
        <string>j</string>
        <string>k</string>
        <string>l</string>
        <string>m</string>
        <string>n</string>
        <string>o</string>
        <string>p</string>
        <string>q</string>
        <string>r</string>
        <string>s</string>
        <string>t</string>
        <string>u</string>
        <string>v</string>
        <string>w</string>
        <string>x</string>
        <string>y</string>
        <string>z</string>
        <string>braceleft</string>
        <string>bar</string>
        <string>braceright</string>
        <string>asciitilde</string>
        <string>exclamdown</string>
        <string>cent</string>
        <string>sterling</string>
        <string>currency</string>
        <string>yen</string>
        <string>brokenbar</string>
        <string>section</string>
        <string>dieresis</string>
        <string>copyright</string>
        <string>ordfeminine</string>
        <string>guillemotleft</string>
        <string>logicalnot</string>
        <string>registered</string>
        <string>macron</string>
        <string>degree</string>
        <string>plusminus</string>
        <string>twosuperior</string>
        <string>threesuperior</string>
        <string>acute</string>
        <string>mu</string>
        <string>paragraph</string>
        <string>periodcentered</string>
        <string>cedilla</string>
        <string>onesuperior</string>
        <string>ordmasculine</string>
        <string>guillemotright</string>
        <string>onequarter</string>
        <string>onehalf</string>
        <string>threequarters</string>
        <string>questiondown</string>
        <string>Agrave</string>
        <string>Aacute</string>
        <string>Acircumflex</string>
        <string>Atilde</string>
        <string>Adieresis</string>
        <string>Aring</string>
        <string>AE</string>
        <string>Ccedilla</string>
        <string>Egrave</string>
        <string>Eacute</string>
        <string>Ecircumflex</string>
        <string>Edieresis</string>
        <string>Igrave</string>
        <string>Iacute</string>
        <string>Icircumflex</string>
        <string>Idieresis</string>
        <string>Eth</string>
        <string>Ntilde</string>
        <string>Ograve</string>
        <string>Oacute</string>
        <string>Ocircumflex</string>
        <string>Otilde</string>
        <string>Odieresis</string>
        <string>multiply</string>
        <string>Oslash</string>
        <string>Ugrave</string>
        <string>Uacute</string>
        <string>Ucircumflex</string>
        <string>Udieresis</string>
        <string>Yacute</string>
        <string>Thorn</string>
        <string>germandbls</string>
        <string>agrave</string>
        <string>aacute</string>
        <string>acircumflex</string>
        <string>atilde</string>
        <string>adieresis</string>
        <string>aring</string>
        <string>ae</string>
        <string>ccedilla</string>
        <string>egrave</string>
        <string>eacute</string>
        <string>ecircumflex</string>
        <string>edieresis</string>
        <string>igrave</string>
        <string>iacute</string>
        <string>icircumflex</string>
        <string>idieresis</string>
        <string>eth</string>
        <string>ntilde</string>
        <string>ograve</string>
        <string>oacute</string>
        <string>ocircumflex</string>
        <string>otilde</string>
        <string>odieresis</string>
        <string>divide</string>
        <string>oslash</string>
        <string>ugrave</string>
        <string>uacute</string>
        <string>ucircumflex</string>
        <string>udieresis</string>
        <string>yacute</string>
        <string>thorn</string>
        <string>ydieresis</string>
        <string>dotlessi</string>
        <string>circumflex</string>
        <string>caron</string>
        <string>breve</string>
        <string>dotaccent</string>
        <string>ring</string>
        <string>ogonek</string>
        <string>tilde</string>
        <string>hungarumlaut</string>
        <string>quoteleft</string>
        <string>quoteright</string>
        <string>minus</string>
        <string>obreve</string>
        <string>quotedblright</string>
        <string>kcommaaccent</string>
        <string>ccaron</string>
        <string>quotesinglbase</string>
        <string>Euro</string>
        <string>Rcedilla</string>
        <string>amacron</string>
        <string>Kcommaaccent</string>
        <string>dotlessj</string>
        <string>Scaron</string>
        <string>Sacute</string>
        <string>Cacute</string>
        <string>gcedilla</string>
        <string>gcommaaccent</string>
        <string>Uhungarumlaut</string>
        <string>Cdotaccent</string>
        <string>Rcaron</string>
        <string>Ldot</string>
        <string>Abreve</string>
        <string>rcedilla</string>
        <string>Lacute</string>
        <string>Gdotaccent</string>
        <string>Gbreve</string>
        <string>dcaron</string>
        <string>scaron</string>
        <string>dotaccentcmb</string>
        <string>DZcaron</string>
        <string>Eogonek</string>
        <string>cdotaccent</string>
        <string>uni030F</string>
        <string>tbar</string>
        <string>lacute</string>
        <string>foursuperior</string>
        <string>umacron</string>
        <string>eng</string>
        <string>kgreenlandic</string>
        <string>uring</string>
        <string>Dzcaron</string>
        <string>Ncaron</string>
        <string>Scedilla</string>
        <string>Itilde</string>
        <string>omacron</string>
        <string>ncommaaccent</string>
        <string>endash</string>
        <string>Eng</string>
        <string>Gcedilla</string>
        <string>Ohungarumlaut</string>
        <string>commaaccent</string>
        <string>Ecaron</string>
        <string>Lcaron</string>
        <string>Tcommaaccent</string>
        <string>Ncommaaccent</string>
        <string>Obreve</string>
        <string>imacron</string>
        <string>.notdef</string>
        <string>Tbar</string>
        <string>Ubreve</string>
        <string>Rcommaaccent</string>
        <string>Ydieresis</string>
        <string>Aogonek</string>
        <string>tcommaaccent</string>
        <string>Jcircumflex</string>
        <string>tcaron</string>
        <string>lcommaaccent</string>
        <string>Lslash</string>
        <string>ldot</string>
        <string>abreve</string>
        <string>itilde</string>
        <string>Emacron</string>
        <string>ohungarumlaut</string>
        <string>guilsinglright</string>
        <string>uni0110</string>
        <string>dslash</string>
        <string>Uogonek</string>
        <string>zdotaccent</string>
        <string>Scommaaccent</string>
        <string>Zacute</string>
        <string>cacute</string>
        <string>rcaron</string>
        <string>Ccaron</string>
        <string>sacute</string>
        <string>gbreve</string>
        <string>quotedblleft</string>
        <string>zacute</string>
        <string>Tcaron</string>
        <string>Lcommaaccent</string>
        <string>hbar</string>
        <string>Racute</string>
        <string>uhungarumlaut</string>
        <string>trademark</string>
        <string>lslash</string>
        <string>uni00AD</string>
        <string>Amacron</string>
        <string>foundryicon</string>
        <string>uni0326</string>
        <string>Dcaron</string>
        <string>ij</string>
        <string>Dcroat</string>
        <string>IJ</string>
        <string>emdash</string>
        <string>ncaron</string>
        <string>Zcaron</string>
        <string>Hbar</string>
        <string>ecaron</string>
        <string>lcaron</string>
        <string>OE</string>
        <string>aogonek</string>
        <string>jcircumflex</string>
        <string>quotesingle</string>
        <string>eogonek</string>
        <string>Umacron</string>
        <string>ellipsis</string>
        <string>zcaron</string>
        <string>scommaaccent</string>
        <string>uni021A</string>
        <string>uni021B</string>
        <string>rcommaaccent</string>
        <string>oe</string>
        <string>guilsinglleft</string>
        <string>Uring</string>
        <string>emacron</string>
        <string>Ibreve</string>
        <string>Gcommaaccent</string>
        <string>uogonek</string>
        <string>fraction</string>
        <string>Omacron</string>
        <string>Iogonek</string>
        <string>Nacute</string>
        <string>uni0111</string>
        <string>iogonek</string>
        <string>nacute</string>
        <string>Idot</string>
        <string>Zdotaccent</string>
        <string>quotedblbase</string>
        <string>uni0311</string>
        <string>ibreve</string>
        <string>ubreve</string>
        <string>gdotaccent</string>
        <string>Imacron</string>
        <string>scedilla</string>
        <string>bullet</string>
      </array>
    <key>org.robofab.glyphOrder</key>
      <array>
        <string>.notdef</string>
        <string>space</string>
        <string>exclam</string>
        <string>numbersign</string>
        <string>dollar</string>
        <string>percent</string>
        <string>ampersand</string>
        <string>parenleft</string>
        <string>parenright</string>
        <string>asterisk</string>
        <string>plus</string>
        <string>comma</string>
        <string>hyphen</string>
        <string>period</string>
        <string>slash</string>
        <string>zero</string>
        <string>one</string>
        <string>two</string>
        <string>three</string>
        <string>four</string>
        <string>five</string>
        <string>six</string>
        <string>seven</string>
        <string>eight</string>
        <string>nine</string>
        <string>colon</string>
        <string>semicolon</string>
        <string>question</string>
        <string>at</string>
        <string>A</string>
        <string>B</string>
        <string>C</string>
        <string>D</string>
        <string>E</string>
        <string>F</string>
        <string>G</string>
        <string>H</string>
        <string>I</string>
        <string>J</string>
        <string>K</string>
        <string>L</string>
        <string>M</string>
        <string>N</string>
        <string>O</string>
        <string>P</string>
        <string>Q</string>
        <string>R</string>
        <string>S</string>
        <string>T</string>
        <string>U</string>
        <string>V</string>
        <string>W</string>
        <string>X</string>
        <string>Y</string>
        <string>Z</string>
        <string>bracketleft</string>
        <string>backslash</string>
        <string>bracketright</string>
        <string>asciicircum</string>
        <string>underscore</string>
        <string>grave</string>
        <string>a</string>
        <string>b</string>
        <string>c</string>
        <string>d</string>
        <string>e</string>
        <string>f</string>
        <string>g</string>
        <string>h</string>
        <string>i</string>
        <string>j</string>
        <string>k</string>
        <string>l</string>
        <string>m</string>
        <string>n</string>
        <string>o</string>
        <string>p</string>
        <string>q</string>
        <string>r</string>
        <string>s</string>
        <string>t</string>
        <string>u</string>
        <string>v</string>
        <string>w</string>
        <string>x</string>
        <string>y</string>
        <string>z</string>
        <string>cent</string>
        <string>sterling</string>
        <string>currency</string>
        <string>yen</string>
        <string>dieresis</string>
        <string>copyright</string>
        <string>guillemotleft</string>
        <string>registered</string>
        <string>acute</string>
        <string>paragraph</string>
        <string>cedilla</string>
        <string>guillemotright</string>
        <string>Agrave</string>
        <string>Aacute</string>
        <string>Acircumflex</string>
        <string>Atilde</string>
        <string>Adieresis</string>
        <string>Aring</string>
        <string>AE</string>
        <string>Ccedilla</string>
        <string>Egrave</string>
        <string>Eacute</string>
        <string>Ecircumflex</string>
        <string>Edieresis</string>
        <string>Igrave</string>
        <string>Iacute</string>
        <string>Icircumflex</string>
        <string>Idieresis</string>
        <string>Eth</string>
        <string>Ntilde</string>
        <string>Ograve</string>
        <string>Oacute</string>
        <string>Ocircumflex</string>
        <string>Otilde</string>
        <string>Odieresis</string>
        <string>Oslash</string>
        <string>Ugrave</string>
        <string>Uacute</string>
        <string>Ucircumflex</string>
        <string>Udieresis</string>
        <string>Yacute</string>
        <string>agrave</string>
        <string>aacute</string>
        <string>acircumflex</string>
        <string>atilde</string>
        <string>adieresis</string>
        <string>aring</string>
        <string>ccedilla</string>
        <string>egrave</string>
        <string>eacute</string>
        <string>ecircumflex</string>
        <string>edieresis</string>
        <string>igrave</string>
        <string>iacute</string>
        <string>icircumflex</string>
        <string>idieresis</string>
        <string>ntilde</string>
        <string>ograve</string>
        <string>oacute</string>
        <string>ocircumflex</string>
        <string>otilde</string>
        <string>odieresis</string>
        <string>oslash</string>
        <string>ugrave</string>
        <string>uacute</string>
        <string>ucircumflex</string>
        <string>udieresis</string>
        <string>yacute</string>
        <string>ydieresis</string>
        <string>quoteright</string>
        <string>quoteleft</string>
        <string>fraction</string>
        <string>quotedblleft</string>
        <string>guilsinglleft</string>
        <string>guilsinglright</string>
        <string>quotesinglbase</string>
        <string>quotedblbase</string>
        <string>quotedblright</string>
        <string>circumflex</string>
        <string>tilde</string>
        <string>breve</string>
        <string>ring</string>
        <string>hungarumlaut</string>
        <string>caron</string>
        <string>OE</string>
        <string>trademark</string>
        <string>braceleft</string>
        <string>braceright</string>
        <string>logicalnot</string>
        <string>ellipsis</string>
        <string>periodcentered</string>
        <string>Abreve</string>
        <string>abreve</string>
        <string>ae</string>
        <string>amacron</string>
        <string>Amacron</string>
        <string>macron</string>
        <string>bar</string>
        <string>brokenbar</string>
        <string>cacute</string>
        <string>Cacute</string>
        <string>ccaron</string>
        <string>Ccaron</string>
        <string>cdotaccent</string>
        <string>Cdotaccent</string>
        <string>aogonek</string>
        <string>Aogonek</string>
        <string>germandbls</string>
        <string>Dzcaron</string>
        <string>DZcaron</string>
        <string>dcaron</string>
        <string>Dcaron</string>
        <string>eogonek</string>
        <string>Eogonek</string>
        <string>emacron</string>
        <string>Emacron</string>
        <string>Ecaron</string>
        <string>ecaron</string>
        <string>gcedilla</string>
        <string>Gcedilla</string>
        <string>gbreve</string>
        <string>Gbreve</string>
        <string>gdotaccent</string>
        <string>Gdotaccent</string>
        <string>Gcommaaccent</string>
        <string>gcommaaccent</string>
        <string>hbar</string>
        <string>Hbar</string>
        <string>Euro</string>
        <string>eth</string>
        <string>ij</string>
        <string>IJ</string>
        <string>imacron</string>
        <string>Imacron</string>
        <string>iogonek</string>
        <string>Iogonek</string>
        <string>itilde</string>
        <string>Itilde</string>
        <string>Idot</string>
        <string>ibreve</string>
        <string>Ibreve</string>
        <string>jcircumflex</string>
        <string>Jcircumflex</string>
        <string>kcommaaccent</string>
        <string>Kcommaaccent</string>
        <string>kgreenlandic</string>
        <string>Lcaron</string>
        <string>lcaron</string>
        <string>Lcommaaccent</string>
        <string>ncommaaccent</string>
        <string>Ncommaaccent</string>
        <string>Ncaron</string>
        <string>ncaron</string>
        <string>Nacute</string>
        <string>nacute</string>
        <string>mu</string>
        <string>Lacute</string>
        <string>lacute</string>
        <string>Lslash</string>
        <string>lslash</string>
        <string>Ldot</string>
        <string>ldot</string>
        <string>lcommaaccent</string>
        <string>multiply</string>
        <string>oe</string>
        <string>ogonek</string>
        <string>obreve</string>
        <string>Obreve</string>
        <string>omacron</string>
        <string>Omacron</string>
        <string>ohungarumlaut</string>
        <string>Ohungarumlaut</string>
        <string>Rcedilla</string>
        <string>Racute</string>
        <string>rcaron</string>
        <string>Rcaron</string>
        <string>rcommaaccent</string>
        <string>Rcommaaccent</string>
        <string>rcedilla</string>
        <string>scaron</string>
        <string>Scaron</string>
        <string>scedilla</string>
        <string>Scedilla</string>
        <string>sacute</string>
        <string>Sacute</string>
        <string>Scommaaccent</string>
        <string>scommaaccent</string>
        <string>Tcaron</string>
        <string>tcaron</string>
        <string>Tcommaaccent</string>
        <string>tcommaaccent</string>
        <string>Tbar</string>
        <string>tbar</string>
        <string>Thorn</string>
        <string>thorn</string>
        <string>onehalf</string>
        <string>onequarter</string>
        <string>threequarters</string>
        <string>onesuperior</string>
        <string>twosuperior</string>
        <string>threesuperior</string>
        <string>foursuperior</string>
        <string>questiondown</string>
        <string>plusminus</string>
        <string>minus</string>
        <string>uring</string>
        <string>Uring</string>
        <string>umacron</string>
        <string>Umacron</string>
        <string>uogonek</string>
        <string>Uogonek</string>
        <string>ubreve</string>
        <string>Ubreve</string>
        <string>uhungarumlaut</string>
        <string>Uhungarumlaut</string>
        <string>uni0110</string>
        <string>uni0111</string>
        <string>uni021A</string>
        <string>uni021B</string>
        <string>Ydieresis</string>
        <string>zcaron</string>
        <string>Zcaron</string>
        <string>zdotaccent</string>
        <string>Zdotaccent</string>
        <string>zacute</string>
        <string>Zacute</string>
        <string>exclamdown</string>
        <string>divide</string>
        <string>dotlessi</string>
        <string>dotaccent</string>
        <string>dotaccentcmb</string>
        <string>greater</string>
        <string>less</string>
        <string>section</string>
        <string>uni030F</string>
        <string>uni0311</string>
        <string>uni0326</string>
        <string>equal</string>
        <string>emdash</string>
        <string>endash</string>
        <string>foundryicon</string>
        <string>quotesingle</string>
        <string>quotedbl</string>
        <string>uni00AD</string>
        <string>degree</string>
        <string>bullet</string>
        <string>dotlessj</string>
        <string>commaaccent</string>
      </array>
    <key>com.typemytype.robofont.layerOrder</key>
      <array>
      </array>
    <key>com.typemytype.robofont.segmentType</key>
      <string>curve</string>
    <key>com.typesupply.MetricsMachine4.groupColors</key>
    <key>@MMK_L_y</key>
      <array>
              </array>
    <key>@MMK_L_z</key>
      <array>
              </array>
    <key>@MMK_L_s</key>
      <array>
              </array>
    <key>@MMK_L_r</key>
      <array>
              </array>
    <key>@MMK_L_u</key>
      <array>
              </array>
    <key>@MMK_L_t</key>
      <array>
              </array>
    <key>@MMK_L_i</key>
      <array>
              </array>
    <key>@MMK_L_k</key>
      <array>
              </array>
    <key>@MMK_L_j</key>
      <array>
              </array>
    <key>@MMK_L_l</key>
      <array>
              </array>
    <key>@MMK_L_o</key>
      <array>
              </array>
    <key>@MMK_L_n</key>
      <array>
              </array>
    <key>@MMK_L_a</key>
      <array>
              </array>
    <key>@MMK_L_c</key>
      <array>
              </array>
    <key>@MMK_L_e</key>
      <array>
              </array>
    <key>@MMK_L_d</key>
      <array>
              </array>
    <key>@MMK_L_g</key>
      <array>
              </array>
    <key>@MMK_L_Y</key>
      <array>
              </array>
    <key>@MMK_L_Z</key>
      <array>
              </array>
    <key>@MMK_L_S</key>
      <array>
              </array>
    <key>@MMK_L_R</key>
      <array>
              </array>
    <key>@MMK_L_U</key>
      <array>
              </array>
    <key>@MMK_L_T</key>
      <array>
              </array>
    <key>@MMK_L_I</key>
      <array>
              </array>
    <key>@MMK_L_K</key>
      <array>
              </array>
    <key>@MMK_L_J</key>
      <array>
              </array>
    <key>@MMK_L_L</key>
      <array>
              </array>
    <key>@MMK_L_O</key>
      <array>
              </array>
    <key>@MMK_L_N</key>
      <array>
              </array>
    <key>@MMK_L_A</key>
      <array>
              </array>
    <key>@MMK_L_C</key>
      <array>
              </array>
    <key>@MMK_L_E</key>
      <array>
              </array>
    <key>@MMK_L_D</key>
      <array>
              </array>
    <key>@MMK_L_G</key>
      <array>
              </array>
    <key>@MMK_R_s</key>
      <array>
              </array>
    <key>@MMK_R_r</key>
      <array>
              </array>
    <key>@MMK_R_u</key>
      <array>
              </array>
    <key>@MMK_R_t</key>
      <array>
              </array>
    <key>@MMK_R_z</key>
      <array>
              </array>
    <key>@MMK_R_y</key>
      <array>
              </array>
    <key>@MMK_R_c</key>
      <array>
              </array>
    <key>@MMK_R_a</key>
      <array>
              </array>
    <key>@MMK_R_g</key>
      <array>
              </array>
    <key>@MMK_R_e</key>
      <array>
              </array>
    <key>@MMK_R_d</key>
      <array>
              </array>
    <key>@MMK_R_k</key>
      <array>
              </array>
    <key>@MMK_R_j</key>
      <array>
              </array>
    <key>@MMK_R_i</key>
      <array>
              </array>
    <key>@MMK_R_o</key>
      <array>
              </array>
    <key>@MMK_R_n</key>
      <array>
              </array>
    <key>@MMK_R_l</key>
      <array>
              </array>
    <key>@MMK_R_S</key>
      <array>
              </array>
    <key>@MMK_R_R</key>
      <array>
              </array>
    <key>@MMK_R_U</key>
      <array>
              </array>
    <key>@MMK_R_T</key>
      <array>
              </array>
    <key>@MMK_R_Z</key>
      <array>
              </array>
    <key>@MMK_R_Y</key>
      <array>
              </array>
    <key>@MMK_R_C</key>
      <array>
              </array>
    <key>@MMK_R_A</key>
      <array>
              </array>
    <key>@MMK_R_G</key>
      <array>
              </array>
    <key>@MMK_R_E</key>
      <array>
              </array>
    <key>@MMK_R_D</key>
      <array>
              </array>
    <key>@MMK_R_K</key>
      <array>
              </array>
    <key>@MMK_R_J</key>
      <array>
              </array>
    <key>@MMK_R_I</key>
      <array>
              </array>
    <key>@MMK_R_O</key>
      <array>
              </array>
    <key>@MMK_R_N</key>
      <array>
              </array>
    <key>@MMK_R_L</key>
      <array>
              </array>
    <key>com.typemytype.robofont.sort</key>
      <array>
      <key>type</key>
      <string>characterSet</string>
    <key>ascending</key>
      <string>Latin-1</string>
      </array>
    </dict>
</plist>
